
@tailwind base;
@tailwind components;
@tailwind utilities;


.syncopate-regular {
  font-family: "Syncopate", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.syncopate-bold {
  font-family: "Syncopate", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.hero-heading {
  opacity: 0;
  visibility: hidden;
}

.nav{
  transition: 1s;
}

/* CSS */
.mask-link {
  position: relative;
  display: inline-block;
  overflow: hidden;
  line-height: 1;          
  height: 1.2em;          
  padding: 0.15em 0;       
  vertical-align: middle;
}

.mask-link:active{
  color: lightgray;
}

/* original visible text (layer 1) */
.mask-link__text {
  display: inline-block;
  transform: translateY(0);
  transition: transform .35s ease;
  white-space: nowrap;
}

.mask-link::after {
  content: attr(data-text);
  position: absolute;
  left: 0;
  top: 2px;
  display: inline-block;
  width: 100%;
  transform: translateY(100%);    
  transition: transform .35s ease;
  pointer-events: none;           
  white-space: nowrap;
}

.mask-link:hover .mask-link__text {
  transform: translateY(-130%);
}
.mask-link:hover::after {
  transform: translateY(0);
}


.clip{
  clip-path: circle(78% at 50% 0);
}